<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "mdpub" %> · mdpub
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/style.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer src={~p"/assets/mermaid.min.js"}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
